
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: 'Lato', sans-serif;
}

li {
	list-style: none;
}
a {
	text-decoration: none;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: center;
}